.information-about-me {
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
}

main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #322519;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.information-about-me .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-about-me .avatar img {
    width: 400px;
    height: inherit;
    border-radius: 80% 35%;
    margin-right: 30px;
}

.information-about-me h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.information-about-me p {
    margin-bottom: 40px;
}

.information-about-me .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 25px;
}

.information-about-me .contact {
    width: 100%;
    background-color: #81c4de;
    margin-top: 30px; 
}

.information-about-me .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.information-about-me .contacts .contact-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: calc(25% - 20px);
}

.information-about-me .contacts .contact-item > img {
    margin-bottom: 10px;
}

.information-about-me .contact .contact-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.information-about-me .contact .contact-information img {
    height: auto;
    width: 80px;
}

@media (max-width: 1260px) {
    .information-about-me .avatar img {
        margin-left: 15px;
    }
}

@media (max-width: 1062px) {
    iframe {
        width: 400px;
        height: 290px;
    }
}

@media (max-width: 900px) {
    .information-about-me .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information-about-me .avatar img {
        width: 300px;
        height: inherit;
        border-radius: 80% 35%;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .information-about-me .contacts .contact-item {
        width: calc(50% - 20px);
        margin-bottom: 30px;
    }
}

@media (max-width: 425px) {
    .information-about-me .contacts .contact-item {
        width: calc(100% - 20px);
    }
}

@media (max-width: 615px) {
    iframe {
        width: 315px;
        height: 200px;
    }
}

@media (max-width: 350px) {
    .information-about-me .avatar img {
        width: 200px;
    }
    iframe {
        width: 250px;
        height: 190px;
    }
}