.code {
    width: 100%;
    background-color: #81c4de;
    padding: 5px 0 30px;
}

.code h2 {
    color: #fff;
    padding-bottom: 20px;
}

.code-examples {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.code-examples p {
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.code-examples img {
    height: 195px;
    width: 320px;
    object-fit: cover;
}

.code .my-works .projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.code .my-works p {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 10px 0;
}

.code .my-works .projects img {
    height: 300px;
    width: 450px;
    object-fit: cover;
}

.code .my-works .projects a {
    margin: 10px;
    cursor: pointer;
    position: relative;
    
}

.code .my-works .projects a span {
    display: none;
    opacity: 0;
    
}

.code .my-works .projects a:hover img {
    background-color: #81c4de;
    opacity: 0.3;
    transition-duration: 1s;
}

.code .my-works .projects a:hover span {
    display: inline;
    
    opacity: 1;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    right: 5%;
    text-align: end;
    transition-duration: 1s;
    text-shadow: 0 0 30px;
    
}

.code .my-works .projects a span b {
    text-decoration: underline;
    font-weight: 900;
}

@media (max-width: 512px) {
    .code .my-works .projects img {
        height: 200px;
        width: 315px;
    }
}

