.education-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.education-item {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 4px;
    line-height: 30px;
}

.education-wrapper h4 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 10px 0 20px;
}
.education-wrapper h5 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 10px 0 20px;
}

.education-wrapper ul li {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.education-wrapper ul {
    list-style: square outside;
}

@media (max-width: 425px) {
    .education-item  {
        font-size: 1rem;
    }

    .education-wrapper h3 {
        font-size: 1rem; 
    }

    .education-wrapper ul li {
        font-size: 1rem; 
    }
}